body {
  font-family: Arial;
  margin: 0;
}

nav {
  display: flex;
  padding: 10px;
  justify-content: flex-start;
  height: auto;
  width: 100%;
  background-color: black;
  color: white;
  margin-bottom: 20px;
}

nav a {
  margin: 25px;
  height: auto;
  width: auto;
  vertical-align: middle;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid black;
}

nav a:hover {
  border-bottom: 2px solid white;
}

nav h1 {
  background-color: white;
  color: black;
}

form {
  margin: 20px 75px 0 75px;
}

.form-control {
  width: 50%;
}

#register-link {
  margin-left: auto;
}

#login-link {
  margin-right: 100px;
}

#main-content {
  color: black;
  padding: 10px;
}

#party-selector {
  width: 250px;
}

#search-btn {
  width: 75px;
}

.results-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.candidate-card {
  display: flex;
  height: auto;
  width: 25%;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  justify-content: flex-start;
  box-shadow: 2px 2px 2px 2px gray;
  box-sizing: border-box;
}

.cardHeader {
  font-size: 20px;
}

.Libertarian-card {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1e767+0,feb645+100;Yellow+3D */
  background: rgb(241,231,103); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 ); /* IE6-9 */
}

.Republican-card {
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f85032+0,f16f5c+50,f6290c+51,f02f17+71,e73827+100;Red+Gloss+%231 */
  background: rgb(248,80,50); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}

.Democratic-card {
  color: white;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
  background: rgb(30,87,153); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.Green-card {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4e391+0,61c419+50,b4e391+100;Green+3D */
background: #b4e391; /* Old browsers */
background: -moz-linear-gradient(top, #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */
}

a.endorseBtn {
display: inline-block;
padding: 0.35em 1.2em;
border: 0.1em solid #000000;
background-color: #FFFFFF;
margin-left: auto;
border-radius: 0.2em;
box-sizing: border-box;
text-decoration: none;
font-family: 'Roboto',sans-serif;
font-weight: 300;
color: #000000;
text-align: center;
transition: all 0.2s;
}

a.endorseBtn:hover {
color: #FFFFFF;
background-color: green;
border-color: #FFFFFF;
}

a.endorseBtnClicked {
display: inline-block;
padding: 0.35em 1.2em;
border: 0.1em solid #FFFFFF;
background-color: green;
margin-left: auto;
border-radius: 0.2em;
box-sizing: border-box;
text-decoration: none;
font-family: 'Roboto',sans-serif;
font-weight: 300;
color: #FFFFFF;
text-align: center;
transition: all 0.2s;
}

@media all and (max-width:30em) {
a.endorseBtn {
display:block;
margin:0.4em auto;
 }
}